LICENSE
README.md
papers
.cadence
.github
.git
.gitignore
.gitmodules

images
*.ipynb
tests.py
.env

submodules/open-instruct/**
!submodules/open-instruct/open_instruct
!submodules/open-instruct/*.*

*.sbatch
slurm_scripts
README_SLURM.md

notebooks
results
requirements.txt
docker-bake.hcl
*.venv
data
slides
