--find-links https://download.pytorch.org/whl/cu124
torch==2.4.1

openai==1.52.0
python-dotenv==1.0.1

datasets==3.0.1
transformers==4.45.2

-e submodules/open-instruct

deepspeed==0.15.2
accelerate==1.0.1
peft==0.13.2
rich==13.9.2