#--find-links https://download.pytorch.org/whl/cu124
torch==2.5.1

openai==1.52.2
python-dotenv==1.0.1

datasets==3.0.1
transformers==4.46.2

-e submodules/open-instruct

deepspeed==0.15.2
accelerate==1.0.1
peft==0.13.2
rich==13.9.3
pandas==2.2.3
matplotlib==3.9.2
seaborn==0.13.2
ipywidgets==8.1.5
tqdm==4.67.0