-e submodules/open-instruct

# all other necessary packages are already installed with open-instruct

openai==1.59.7
python-dotenv==1.0.1

pandas==2.2.3
seaborn==0.13.2
ipywidgets==8.1.5
tqdm==4.67.1
rank-bm25==0.2.2
scikit-learn==1.6.1